@font-face {
	font-family: "Actor";
	src: url("../fonts/Actor-Regular.ttf");
}

body {
	font-family: "Actor", Arial, sans-serif;
}

header {
	background: url('../images/00B2407_banner.jpg') #737270 no-repeat;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

header > h1 {
	padding-top: 1rem;
}

@media (orientation:portrait) {
	header > h1 {
		text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
		line-height: 1.2;
	}

}

@media (orientation:landscape) {
	header {
		background-position-x: center;
	}

	header > h1 {
		margin-right: 1rem;	/*color: rgba(0, 0, 0, 0.6);*/
		text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
		line-height: 1.2;
	}

}

header > h1, header > .adjectives {
	text-align: right;
	color: white;
	margin-right: 2vw;
}

.title {
	font-size: 2.5rem;
}

.subtitle {
	font-size: 1.5rem;
}

.adjectives {
	font-size: 1rem;
	margin-bottom: 1vh;
}
